.button {
	height: 32px;
	border-color: #b9ccff !important;
	background: #f7faff !important;
	color: #1d4ed8 !important;
}

.button:hover {
	border-color: #8fa5ff !important;
	background: #eef5ff !important;
	color: #1d4ed8 !important;
}
